@import "syntax-variables";

// TODO Future UI tweaks:
.tab-bar,
.tab-bar .tab .title {}

atom-text-editor,
:host {
	background-color: @dark;
	color: @white;

	.invisible-character {
		background-color: transparent;
		color: @gray;
	}

	// Indent lines
	.indent-guide { color: fade(@gray, 20%); }

	// Numbers
	.gutter {
		color: @gray;

		.cursor-line { color: @white; }
	}

	// Current line, line-number
	.line-number.cursor-line-no-selection,
	.cursor-line { background-color: @black; }

	// NOTE: Enable visible lines
	// .line { box-shadow: inset 0 1px 0 0 fade(@white, 1%); }

	// NOTE: Experimental
	.bracket-matcher .region {
		background-color: @dark;
		box-shadow: inset 0 -1px 0 0 @gray;
		border-bottom: 0;
	}

	// TODO
	// .invisible { color: @dark; }

	// Cursor
	.cursor { border-color: @white; }

	// Selection
	.selection .region { background-color: fade(@gray, 25%); }

	// Reset trailing whitespace
	.line .trailing-whitespace {
		background-color: transparent;
		border: 0;
	}

	// TODO
	.search-results .marker .region,
	.search-results .marker.current-result .region {
		background-color: transparent;
		border: 0;
	}

	// TODO
	// .entity.other.attribute-name { font-style: italic; }

	// TODO
	.gfm {
		.markup {
			&.heading {
				color: @green-color;

				font-weight: bold;
			}

			&.underline {
				color: @yellow-color;

				text-decoration: underline;
			}
		}

		.bold { font-weight: bold; }
		.italic { font-style: italic; }
		.raw { color: @blue-color; }

		.variable.list {
			color: @pink-color;

			font-weight: bold;
		}

		.link {
			color: @white;

			.entity { color: @purple-color; }
		}
	}
}

// Markdown preview
.markdown-preview {
	background-color: white;
}

// This is a demo comment
.comment { color: @gray; }

// TODO
.constant {
	&.numeric,
	&.language,
	&.character,
	&.escape,
	&.other { color: @purple-color; }

	&.type {
		font-style: italic;
		color: @blue-color;
	}
}

// TODO
.entity {
	&.name.class {
		text-decoration: none;
		color: @green-color;
	}

	&.other.inherited-class {
		font-style: italic;
		text-decoration: none;
		color: @green-color;
	}

	&.name.function { color: @green-color; }
	&.name.instance { color: @blue-color; }
	&.name.tag { color: @pink-color; }
	&.other.attribute-name { color: @green-color; }
}

// TODO
.invalid {
	background-color: @pink-color;
	color: @white;

	&.deprecated {
		color: @white;
		background-color: @purple-color;
	}
}

// TODO
.keyword {
	color: @pink-color;

	&.operator.bracket,
	&.operator.punctuation {
		color: @gray;
	}
}

// TODO
.leading-whitespace,
.trailing-whitespace { display: inline-block; }

// TODO
.meta {
	color: @gray;

	&.class {
		color: @white;

		&.body { color: @gray; }
	}

	&.definition.variable { color: @red-color; }

	&.array,
	&.link { color: @white; }

	&.require { color: @blue-color; }
	&.selector { color: @purple-color; }

	&.separator {
		background-color: @gray;
		color: @gray;
	}

	&.tag { color: @gray; }
}

// TODO
.punctuation {
	color: @gray;

	&.definition {
		&.comment { color: @gray; }

		&.method-parameters,
		&.function-parameters,
		&.parameters,
		&.separator,
		&.seperator,
		&.array {
			color: @gray;
		}

		&.heading,
		&.identity {
			color: @blue-color;
		}

		&.bold {
			color: @white;
			font-weight: bold;
		}

		&.italic {
			color: @purple-color;
			font-style: italic;
		}
	}

	&.section {
		&.embedded { color: @red-color; }

		&.method,
		&.class,
		&.inner-class { color: @gray; }
	}
}

// TODO
.support {
	&.constant { color: @blue-color; }
	&.function {
		color: @blue-color;

		&.any-method { color: @blue-color; }
	}

	&.function.decl { color: @green-color; }

	&.type,
	&.class {
		color: @blue-color;

		font-style: italic;
	}
}

// TODO
.storage {
	color: @pink-color;

	&.type {
		color: @blue-color;

		font-style: italic;
	}
}

// TODO
.string {
	color: @yellow-color;

	&.regexp {
		color: @blue-color;

		.source.ruby.embedded { color: @white; }
	}

	&.other.link { color: @red-color; }
}

// TODO
.variable {
	color: @white;

	&.interpolation { color: @purple-color; }
	&.parameter {
		color: @purple-color;

		font-style: italic;
	}

	&.language.js { color: @pink-color; }
}
