@lightest: #EBE7E5;
@light: #979090;
@gray: #686262;
@dark: #413D3D;
@darkest: #252323;
@black: #201D1D;
@blackest: #111010;

@green-color: #94C82B;
@blue-color: #89D2F2;
@purple-color: #A074D1;
@pink-color: #FF3C86;
@red-color: #F34D4B;
@yellow-color: #E3D167;
