@very-light-gray: #E9E9E2;
@light-gray: #B0B1A8;
@dark-mid: #71726F;
@gray: #5D5D5D;
@dark-gray: #323232;
@dark-gray-mid: #292929;
@very-dark-gray: #202020;

@green-color: #94C82B;
@blue-color: #89B7F2;
@purple-color: #9666EC;
@pink-color: #FF3C86;
@red-color: #F34D4B;
@yellow-color: #E3D167;
