@import "colors";

@syntax-selection-color: @dark;
@syntax-background-color: @dark;
@syntax-wrap-guide-color: @dark;
@syntax-selection-flash-color: @lime;

@syntax-result-marker-color: @gray;

@syntax-color-added: @lime;
@syntax-color-modified: @yellow;
@syntax-color-renamed: @aqua;
@syntax-color-removed: @red;
