@import "colors";

@syntax-selection-color: @black;
@syntax-background-color: @darkest;
// @syntax-text-color: @gray;
// @syntax-cursor-color: @lightest;

@syntax-wrap-guide-color: @dark;
// @syntax-indent-guide-color: @gray;
// @syntax-invisible-character-color: @gray;

@syntax-result-marker-color: @gray;
// @syntax-result-marker-color-selected: @gray;

// @syntax-gutter-text-color: @gray;
// @syntax-gutter-text-color-selected: @light;
// @syntax-gutter-background-color: @darkest;
// @syntax-gutter-background-color-selected: fade(@darkest, 27.5%);

@syntax-color-added: @green-color;
@syntax-color-modified: @yellow-color;
@syntax-color-renamed: @yellow-color;
@syntax-color-removed: @red-color;
